@font-face {
  font-family: OpenSans;
  font-weight: 300;
  src: url("/assets/fonts/open_sans_light.woff");
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url("/assets/fonts/open_sans_regular.woff");
}

@font-face {
  font-family: OpenSans;
  font-weight: 500;
  src: url("/assets/fonts/open_sans_semibold.woff");
}
