body.thankyou {
  background-color: color(white b(5%));
  height: 100%;

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 40px 40px 0 40px;
    width: 100%;
  }

  section.thankyou {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    h1 {
      font-size: 40px;
      margin-top: 50px;
      text-align: center;
    }

    h2 {
      margin-top: 10px;
      font-size: 22px;
      text-align: center;
    }

    a.button {
      margin-top: 80px;
    }
  }

  footer.copyright {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100px;

    a {
      color: $color-figure;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


