*, *:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
}

:root {
  color: color(black w(10%));
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}
