html {
  box-sizing: border-box !important;
  font-size: 62.5%;
  height: 100%;
}

body {
  color: color(black w(25%));
  font-family: OpenSans, $fonts;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.45;
  margin: 0;
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit !important;
}

h1, h2, h3, h4, h5, h6, address {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 300;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

a {
  color: color(black w(20%));
  text-decoration: none;

  &:hover {
    color: $color-figure;
    cursor: pointer;
  }

  &:focus, &:active {
    outline: none;
  }
}

ul, ol {
  list-style-type: none;
  margin:  0;
  padding: 0;
}

svg {
  display: block;
}

svg:not(.row) path {
  fill: currentColor;
}

p {
  margin: 0;
}

b {
  font-weight: 500;
}

input[type="text"], input[type="search"] {
  -webkit-appearance: textfield;
  font-size: 16px;
  padding: 0 10px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: color(white b(50%));
  }
}

input[type="button"], button, a.button {
  border: 0;

  &:focus {
    outline: none;
  }

  &:not(.reset) {
    background-color: $color-figure;
    border-radius: 3px;
    color: color(white a(0.8));
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    min-width: 90px;
    padding: 10px 13px;
    text-align: center;
    transition: color .1s;

    &:hover {
      color: white;
    }

    &:active, &:active:hover {
      background-color: color($color-figure l(-5%));
      color: color(white a(0.8));
      transition: none;
    }
  }
}

form.classic {
  label.field {
    display: block;
    max-width: 500px;

    label {
      color: color(white b(90%));
      display: block;
      font-size: 12px;
      font-weight: 500;
      margin: 16px 0px 0px;
      pointer-events: none;
      text-transform: uppercase;
    }

    input[type="text"] {
      border: 0;
      border-bottom: 1px solid color(white b(20%));
      background: transparent;
      margin-bottom: 8px;
      padding: 8px 0px;
      width: 100%;

      &:focus {
        border-bottom: 2px solid $color-figure;
        margin-bottom: 7px;
      }
    }

    div.hint {
      color: color(white b(90%));
      font-size: 12px;
      line-height: 17px;
      min-height: 17px;
    }

    div.error {
      color: $color-invalid;
      font-size: 12px;
      line-height: 17px;
      min-height: 17px;
    }

    &.invalid {
      label {
        color: $color-invalid;
      }

      input[type="text"] {
        border-bottom-color: $color-invalid;
      }
    }
  }

  label.field div.checkbox {
    align-items: center;
    display: flex;
    margin: 16px 0px 8px;
    pointer-events: none;
    position: relative;

    label {
      margin: 0 0 0 8px;
    }

    i {
      border-radius: 1px;
      border: 2px solid color(white b(50%));
      color: transparent;
      display: block;
      height: 17px;
      position: relative;
      width: 17px;

      svg {
        height: 17px;
        left: -2px;
        position: absolute;
        top: -2px;
        width: 17px;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &.checked i {
      background-color: $color-figure;
      border-color: $color-figure;
  color: color(white a(0.8));
    }
  }

  div.buttons {
    display: flex;
    margin-top: 16px;
    max-width: 500px;
  }
}
