@keyframes fader {
  0%, 100% {
    color: $color-observe;
  }

  50% {
    color: color(white b(40%));
  }
}

html {
  box-sizing: border-box !important;
  font-size: 62.5%;
  height: 100%;
}

body {
  color: color(black w(10%));
  font-family: OpenSans, $fonts;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

body.app {
  background-color: color(white b(5%));
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit !important;
}

h1, h2, h3, h4, h5, h6, address {
  margin: 0;
}

h1 {
  font-size: 25px;
  font-weight: 300;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

a {
  color: color(black w(20%));
  text-decoration: none;

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }

  &:focus, &:active {
    outline: none;
  }
}

ul, ol {
  list-style-type: none;
  margin:  0;
  padding: 0;
}

svg {
  display: block;
}

svg:not(.row) path {
  fill: currentColor;
}

p {
  margin: 0 0 25px 0;
  line-height: 1.8;
}

b {
  font-weight: 500;
}

pre, code {
  background-color: white;
  border-radius: 3px;
  border: 0;
  font-family: Consolas, monospace;
  font-size: 13px;
  padding: 3px 5px;
}

pre {
  border-radius: 3px;
  overflow-x: auto;

  > code {
    display: block;
    padding: 0;

    table td {
      background-color: white;
      padding: 0;

      pre {
        padding: 3px 5px;
      }

      &.gutter pre {
        border-radius: 0;
        border-right: 1px solid darken(white, 10);
        color: lighten(black, 50);
        padding: 0 5px 0 0;
      }
    }
  }

  pre {
    margin: 0;
  }
}

iframe {
  border: 0;
}

wrapper {
  display: block;
}

figure.video {
  height: 0;
  margin: 0;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    @mixin size 100%, 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
}

input[type="text"], input[type="search"], input[type="email"], input[type="password"] {
  -webkit-appearance: textfield;
  border: 0;
  font-family: OpenSans, $fonts;
  font-size: 16px;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: color(white b(50%));
  }
}

input[type="button"], button, a.button {
  align-items: center;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: flex;
  font-family: OpenSans, $fonts;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  min-width: 90px;
  padding: 0;
  padding: 0px 13px;
  text-align: center;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &.justify {
    width: 100%;
  }

  &.end {
    margin-left: auto;
  }

  &.raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: color(white a(0.85));
    transition: color .1s;

    &:hover {
      color: white;
    }

    &:active, &:active:hover {
      color: color(white a(0.85));
      transition: none;
    }

    &.primary {
      background-color: $color-primary;

      &:active, &:active:hover {
        background-color: color($color-primary l(-5%));
      }
    }

    spinner div {
      background-color: white;
    }
  }

  &.flat {
    background-color: transparent;
    transition: background-color .1s;
    border: 2px solid color(white b(20));
    color: color(white b(80));

    &:hover {
      background-color: color(white b(20));
    }

    &:active, &:active:hover {
      background-color: color(white b(25));
      border-color: color(white b(25));
      transition: none;
    }

    &.danger {
      color: $color-failure;
    }
  }
}

form.default {
  max-width: 600px;

  div.alert {
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    text-align: center;

    &.failure {
      background-color: $color-failure;
    }

    &.warning {
      background-color: $color-warning;
    }

    & + label.field {
      margin-top: 40px;
    }
  }

  label.field, div.field {
    display: block;

    & + label.field {
      margin-top: 18px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      @mixin size 100%, 40px;
      background-color: white;
      border-radius: 2px;
      border: 1px solid color(white b(20));
      padding: 0 10px;
    }

    div.title {
      color: color(white b(90%));
      display: flex;
      font-size: 13px;
      font-weight: 500;
      height: 16px;
      text-transform: uppercase;
      margin-bottom: 10px;

      span.async {
        color: $color-observe;
        margin-left: auto;
      }
    }

    div.error, div.hint {
      font-size: 13px;
      line-height: 18px;
      margin-top: 8px;
      min-height: 18px;
    }

    div.error {
      color: $color-failure;
    }

    div.hint {
      color: color(black w(40%));
    }

    &.focused {
      div.title {
        color: $color-primary;
      }
    }

    &.invalid {
      div.title {
        color: $color-failure;
      }

      input[type="text"], input[type="email"], input[type="password"] {
        border-color: $color-failure;
      }
    }
  }

  label.field div.checkbox {
    align-items: center;
    display: flex;
    margin-bottom: 6px;
    pointer-events: none;
    position: relative;

    div.title {
      color: color(white b(90%));
      height: 17px;
      margin: 0 0 0 8px;
    }

    i {
      @mixin size 17px, 17px;
      border-radius: 1px;
      border: 2px solid color(white b(50%));
      color: transparent;
      display: block;
      position: relative;

      svg {
        @mixin size 17px, 17px;
        left: -2px;
        position: absolute;
        top: -2px;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &.checked i {
      background-color: $color-primary;
      border-color: $color-primary;
      color: color(white a(0.8));
    }
  }

  div.buttons {
    display: flex;
    margin-top: 18px;
  }
}
