@value primary from "styles/color.css";

.submit {
  composes: flex align-center justify-center  from 'styles/flex.css';
  composes: sans semibold center upcase from 'styles/type.css';
  composes: material from 'styles/border.css';
  background-color: primary;
  border-radius: 2px;
  border: 0;
  color: color(white a(0.85));
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  min-width: 90px;
  padding: 0px 13px;
  transition: color .1s;

  &:hover {
    color: white;
  }

  &:focus {
    outline: none;
  }

  &:active, &:active:hover {
    background-color: color(#0d7689 l(-5%));
    color: color(white a(0.85));
    transition: none;
  }
}
