@value primary from "styles/color.css";

.container {
  background-color: white;
  border-bottom: 2px solid color(white b(5%));
  padding: 0 20px;
}

.ul {
  composes: flex alignCenter from "styles/flex.css";
  height: 63px;
}

.li {
  margin: 0 20px;
}

.tab {
  composes: sans regular from "styles/type.css";
  composes: invisible from "styles/link.css";
  color: color(black w(10%));
  font-size: 17px;
  position: relative;
  transition: color .1s;

  &:hover {
    color: primary;
  }
}

.activeTab {
  color: primary;

  &:after {
    border-bottom: 2px solid primary;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
  }
}

.feature {
  composes: sans regular from "styles/type.css";
  color: color(black l(80));
  font-size: 17px;
}
