@value primary from "styles/color.css";

.container {
  composes: main from "styles/layout.css";
}

.header {
  composes: sans regular from "styles/type.css";
  composes: flex alignCenter from "styles/flex.css";
  background-color: white;
  color: primary;
  font-size: 21px;
  min-height: 65px;
  padding: 0 40px;
}

.form {
  border: 40px solid transparent;
  max-width: 700px;
}

.buttons {
  margin-top: 18px;
}
